@mixin weather($fromColor, $toColor, $image: "", $static: false, $to: to right) {
	background: url($image), linear-gradient($to, $fromColor, $toColor);
	background-size: 120% 120%;

	@if $static {
		background-size: auto;
		animation: none;
	}
}

::selection {
	background: rgba(0, 0, 0, 0.1);
}
a {
	color: #61dafb;
}
.App {
	color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	animation: fade 15s ease infinite alternate;
	* {
		text-shadow: 2px 2px 20px rgba(150, 150, 150, 1);
	}
	@include weather(#345d82, #f1f5ff);  //default bg
}
.Clear {
	@include weather(#00409a, #7b9cb5);
}
.Snow {
	@include weather(#345d82, #f1f5ff, "./assets/img/snow.gif", true);
}
.Rain {
	@include weather(#314251, #db9f90, "./assets/img/rain.gif", true, to bottom);
}
.Clouds {
	@include weather(#345d82, #f1f5ff, "./assets/img/cloud.png");
}
.Mist {
	@include weather(#666, #000, "./assets/img/fog.png");
}

.temp {
	margin-top: 10%;
	position: relative;
	&__emu {
		font-size: 0.5em;
		vertical-align: super;
	}
	&__num {
		font-size: 10em;
		line-height: 0;
		margin: 0;
		font-weight: 100;
	}
	&__weather-type {
		margin-top: 1.5em;
		font-size: 3em;
	}
}
.location {
	padding: 20px;
}
.icon-indent {
	margin: 0 5px;
}
.settings {
	position: absolute;
	right: 20px;
	top: 20px;
}
.glassBlock {
	background: rgba(155, 176, 207, 0.4);
	border-radius: 15px;
	padding: 0.75rem !important;
	&_Rain {
		background: rgba(74, 79, 90, 0.2);
	}
	&_Mist {
		background: rgba(0, 0, 0, 0.2);
	}
}
.time {
	opacity: 0.5;
}
@keyframes fade {
	0% {
		background-position: 0 50%;
	}
	/* 50% {
		background-position: 100% 50%;
	} */
	100% {
		background-position: 100% 100%;
	}
}
.my-node-enter {
	opacity: 0;
}
.my-node-enter-active {
	opacity: 1;
	transition: opacity 1000ms;
}
.my-node-exit {
	opacity: 1;
}
.my-node-exit-active {
	opacity: 0;
	transition: opacity 1000ms;
}

.forecast-card {
	width: 15%;
	p {
		margin: 0;
	}
}

.test {
	display: flex;
	overflow: hidden
}
